.collapsible {
  transition: max-height 1s, margin 1s, opacity 0.7s, transform 1s;
}
.collapsible.collapsed {
  max-height: 0;
  transform: scaleY(0);
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
}
.page_description {
  max-height: 240px;
}
.about_content,
.profile_photo_lead {
  max-height: 50px;
}
.profile_photo {
  max-height: 620px;
}
.portfolio_item {
  max-height: 750px;
}
.article_category_header {
  max-height: 35px;
}
.article {
  max-height: 250px;
}
.contact_links {
  max-height: 190px;
}
