html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff9f2;
}
body {
  font-size: 18px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #6495ed;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', serif;
}
.top_stripe {
  height: 10px;
  background-color: #6495ed;
  width: 100%;
}
.title {
  font-size: 64px;
  color: #333;
}
.pages-nav {
  font-size: 24px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 500px;
  max-width: 100%;
  padding: 0;
}
.pages-nav > li {
  margin: 0 20px 40px;
}
.page-link {
  padding-bottom: 2px;
  font-weight: bold;
  color: #333;
}
.page-link.selected {
  border-bottom: 3px solid #6495ee;
}
.contact {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height 1s, transform 1s;
  font-size: 25px;
  align-items: center;
}
.contact_link {
  padding-bottom: 30px;
}
.contact_link a {
  color: #333;
}
.contact_link:hover {
  text-decoration: underline;
}
.main {
  margin-bottom: 50px;
}
.portfolio_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio_item {
  width: 300px;
  margin: 0 20px 30px;
}
.portfolio_item_header {
  padding-left: 10px;
}
.portfolio_item_image {
  border: 3px solid rgba(100, 149, 237, 0.15);
  margin-bottom: 20px;
}
.portfolio_item_info {
  padding-left: 10px;
  padding-right: 3px;
  margin-bottom: 12px;
}
.portfolio_item_info .field_name {
  font-weight: bold;
}

@media screen and (min-width: 550px) {
  .title {
    font-size: 128px;
  }
}
