@keyframes marquee1 {
  0% {
    transform:translateX(100%);
  }
  100%{
    transform:translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform:translateX(100%);
  }
  100%{
    transform:translateX(-200%);
  }
}
@keyframes marquee3 {
  0% {
    transform:translateX(100%);
  }
  100%{
    transform:translateX(-300%);
  }
}
@keyframes marquee4 {
  0% {
    transform:translateX(100%);
  }
  100%{
    transform:translateX(-400%);
  }
}
@keyframes marquee5 {
  0% {
    transform:translateX(100%);
  }
  100%{
    transform:translateX(-500%);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff9f2;
}
header,
main {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', serif;
}
.top_stripe {
  height: 10px;
  background-color: cornflowerblue;
}
.title {
  align-self: center;
  font-size: 4em;
  color: #333;
}
.main {
  font-size: 1.6em;
  align-items: center;
}
.contact_link {
  padding-bottom: 30px;
}
.contact_link a {
  text-decoration: none;
  color: #333;
}
.contact_link:hover {
  text-decoration: underline;
}
.audio_player {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.audio_controls {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}
.audio_progress_container {
  position: relative;
  height: 100%;
  flex-grow: 1;
}
.audio_progress {
  background-color: #4a4a4a;
  height: 100%;
  width: 0;
  will-change: width;
}
.audio_progress_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.audio_info_marquee {
  overflow: hidden;
  /* to make room for .time_progress */
  width: calc(100% - 172px);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.audio_info {
  display: none;
  width: 100%;
  white-space: nowrap;
  word-break: break-all;
  margin: 0;
  font-size: 1.2em;
  color: #fff;
}
.audio_time_progress {
  margin-right: 20px;
  align-self: center;
  color: #fff;
  font-size: 1.4em;
}

/* http://codepen.io/aralon/pen/NqGWXZ */
.audio_button {
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  align-self: center;
}
.play_pause_button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
}
.play_pause_inner {
  height: 30px;
  width: 30px;
  overflow: hidden;
  position: relative;
}
.left {
  height: 100%;
  float: left;
  background-color: #fff;
  width: 36%;
  transition: all 0.25s ease;
  overflow: hidden;
}
.triangle_1 {
  transform: translate(0, -100%);
}
.triangle_2 {
  transform: translate(0, 100%);
}
.triangle_1,
.triangle_2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 30px solid #333;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  transition: transform 0.25s ease;
}
.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #fff;
  transition: all 0.25s ease;
}
.paused .left {
  width: 50%;
}
.paused .right {
  width: 50%;
}
.paused .triangle_1 {
  transform: translate(0, -50%);
}
.paused .triangle_2 {
  transform: translate(0, 50%);
}

.skip_button {
  color: #fff;
  font-size: 3em;
  line-height: 50px;
  /*overflow: hidden;*/
}
.skip_button::after {
  /* ( '⏩'' ) */
  content: '\23e9';
}

@media screen and (min-width: 370px) {
  .audio_info {
    display: initial;
    animation: marquee5 10s cubic-bezier(0, 0.23, 0.6, -0.09) infinite;
  }
}

@media screen and (min-width: 450px) {
  .audio_info {
    animation: marquee4 10s cubic-bezier(0, 0.23, 0.7, -0.09) infinite;
  }
}

@media screen and (min-width: 550px) {
  .title {
    font-size: 8em;
  }
  .audio_info {
    animation: marquee3 10s cubic-bezier(0, 0.23, 0.85, -0.09) infinite;
  }
}

@media screen and (min-width: 650px) {
  .audio_info {
    animatio:nc marquee2 10s cubic-bezier(0, 0.23, 1, -0.09) infinite;
  }
}

@media screen and (min-width: 720px) {
  .audio_info {
    animation: initial;
  }
}
