<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Ben Wiley</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="content" class="content">

    <header class="header">

      <div class="top_stripe"></div>
      <h1 class="title">Ben Wiley</h1>
      <ul id="pages-nav" class="pages-nav">
        <li>
          <a class="page-link selected" href="#/contact">Contact</a>
        </li>
        <li>
          <a class="page-link" href="#/web">Web</a>
        </li>
        <li>
          <a class="page-link" href="#/games">Games</a>
        </li>
        <li>
          <a class="page-link" href="#/writing">Writing</a>
        </li>
      </ul>

    </header>

    <main id="main" class="main">

      <div id="contact" class="contact collapsible collapsed">
        <div class="contact_link"><a href="mailto:therealbenwiley@gmail.com" target="_blank">therealbenwiley@gmail.com</a></div>
        <div class="contact_link"><a href="https://twitter.com/benwiley4000" target="_blank">@benwiley4000</a></div>
        <div class="contact_link"><a href="https://github.com/benwiley4000" target="_blank">github.com/benwiley4000</a></div>
      </div>

      <div id="web_projects" class="web_projects projects_page">
        <div class="projects_page_description collapsible collapsed">I build responsive and powerful web apps.</div>
        <div class="portfolio_container"></div>
      </div>

      <div id="games" class="games projects_page">
        <div class="projects_page_description collapsible collapsed">I program and write music for games with <a href="http://saidyeti.com/" target="_blank">Said Yeti</a>.</div>
        <div class="portfolio_container"></div>
      </div>

      <div id="writing" class="writing"></div>
      
    </main>

    <footer id="audio_player" class="audio_player">

      <div class="audio_controls">
        <div id="play_pause_button" class="play_pause_button audio_button paused">
          <div class="play_pause_inner">
            <div class="left"></div>
            <div class="right"></div>
            <div class="triangle_1"></div>
            <div class="triangle_2"></div>
          </div>
        </div>
        <div id="skip_button" class="skip_button audio_button">
          <div class="skip_button_inner">
            <div class="right_facing_triangle"></div>
            <div class="right_facing_triangle"></div>
          </div>
        </div>
      </div>

      <div class="audio_progress_container">
        <div id="audio_progress" class="audio_progress"></div>
        <div id="audio_progress_overlay" class="audio_progress_overlay">
          <div class="audio_info_marquee">
            <div id="audio_info" class="audio_info"></div>
          </div>
          <div id="audio_time_progress" class="audio_time_progress"></div>
        </div>
      </div>

    </footer>

  </div>

  <script type="text/template" id="portfolio_item_template">
    <div class="portfolio_item collapsible collapsed">
      <h2 class="portfolio_item_header"><%= title %></h2>
      <img class="portfolio_item_image" src="img/<%= image %>" alt="Preview of <%= title %>">
      <% if (typeof link !== 'undefined' && link) { %>
        <div class="portfolio_item_info"><a href="<%= link %>" target="_blank">Check it out online!</a></div>
      <% } %>
      <% if (typeof github !== 'undefined' && github) { %>
        <div class="portfolio_item_info"><a href="<%= github %>" target="_blank">Fork me on GitHub!</a></div>
      <% } %>
      <div class="portfolio_item_info"><%= description %></div>
      <% fields.forEach(function (field) { %>
        <div class="portfolio_item_info">
          <div class="field_name"><%= field.name %></div>
          <div class="field_content"><%= field.content %></div>
        </div>
      <% }); %>
    </div>
  </script>

  <script type="text/template" id="article_category_template">
    <h2 class="article_category_header collapsible collapsed"><%= name %></h2>
    <% items.forEach(function (item) { %>
      <div class="article collapsible collapsed">
        <div class="article_date"><%= new Date(item.date).toLocaleDateString() %></div>
        <div class="article_link"><a href="<%= item.link %>" target="_blank"><%= item.title %></a></div>
        <% if (item.subtitle) { %>
          <div class="article_subtitle"><%= item.subtitle %></div>
        <% } %>
      </div>
    <% }); %>
  </script>

  <script src="libs.js"></script>
  <script src="index.js"></script>
</body>
</html>
